.cm-jsstudio {
    height:450px;background-color:rgba(110, 110, 112, 0.1)
}

.cm-jsstudio-small {
    height:450px;background-color:rgba(110, 110, 112, 0.1)
}
.jsstudio-error {
    background-color:#fff
}

.console-output {
    height:450px;background-color:rgba(110, 110, 112, 0.1)
}
.jsstudio-results {
    background-color:rgb(10, 9, 9)
}